.page {
	flex: 1;
	align-self: stretch;
	display: flex;
	flex-flow: row nowrap;
}

.preview {
	flex: 1;
}

.editor {
	flex: 1;
	overflow: auto;
}

@media (orientation: portrait) {
	.page {
		flex-flow: column-reverse nowrap;
	}

	.preview {
		flex: 0;
	}
}
